/*.row-fluid>div {
    margin-bottom: 15px;
}*/

.sidebar {
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(156, 205, 227, 0.99);
    max-height: 568px;
    max-height: 1024px;
    box-shadow: .5px 0.5px #7fb8e8;
    margin: 2%;
}

.sidebar {
    height: 222px;
    border-radius: 3px;
    opacity: 100;
    background-color: #FFFFFF;
    border: solid 2px #9CCDE3;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 50%);
}

.text {
    width: 219px;
    height: 21px;
    opacity: 100;
    text-align: left;
    color: #3B5372;
    font-family: LucidaGrande-Bold;
    line-height: 0px;
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: bold;
    margin-left: 15px;
}

.text1 {
    width: 184px;
    height: 43px;
    opacity: 100;
    text-align: right;
    color: #6FB8D9;
    font-family: LucidaGrande-Bold;
    line-height: 0px;
    font-size: 36px;
    letter-spacing: 0px;
    font-weight: bold;
    margin: 100px 170px 100px 50px;
}

.toc {
    float: right;
    margin-right: -120px;
    margin-top: -10px;
    width: 24px;
    height: 24px;
    opacity: 100;
    text-align: left;
    color: #3B5372;
    line-height: 0px;
    font-size: 24px;
    letter-spacing: 0px;
}

.toc1 {
    float: right;
    margin-right: 30px;
    margin-top: -220px;
}

.date1 {
    width: 187px;
    height: 21px;
    opacity: 100;
    text-align: left;
    color: #6FB8D9;
    font-family: LucidaGrande-Bold;
    line-height: 0px;
    font-size: 18px;
    letter-spacing: 0px;
}

.date2 {
    width: 132px;
    height: 18px;
    opacity: 100;
    text-align: left;
    color: #6FB8D9;
    font-family: Ionicons;
    line-height: 0px;
    font-size: 16px;
    letter-spacing: 0px;
}

.date3 {
    width: 159px;
    height: 18px;
    opacity: 100;
    text-align: left;
    color: #6FB8D9;
    font-family: LucidaGrande-Bold;
    line-height: 0px;
    font-size: 16px;
    letter-spacing: 0px;
}

.bottom-align-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    bottom: 35px;
    left: 140px;
}
