
body.login-page{
    background-color: #D8D1C7;
    background-size:initial;
}
body{
    background-color: white;
}
.login-box{
 display: inline-block;
    width: 300px;
    height: 396px;
    margin-top:5%;
    margin-left:35%;
    font-family: AppleGothic;
    /*margin-top:5%;*/
}

/*@media (max-width: 800px){

	.login-box{
		margin-top:auto;
    margin-left:10%;
    margin-right:10%;
	}*/

.login-box img {
  /*box-shadow: 1px 1px 1px ;*/
  -webkit-filter: drop-shadow(4px 4px 4px grey);
 /*filter: drop-shadow(5px 5px 5px white);*/
 box-shadow: 10px;
  margin-left: 101px;
    margin-right:101px;
}
.login{
    display: inline-block;
     width: 300px;
     height:290px;
     background-color:  rgba(247, 245, 241, 0.82);
     color:rgba(59, 83, 114, 1);
     border-radius: 10px;
     border:  white;
     /*box-shadow: 1px 1px 1px 1px;*/
     }
.login div {

    margin-top:19px;
    text-align: center;
    font-size: 28px;

}
.login form #input1 {
    height:50px;
    padding-left:17px;
    padding-right:18px;
    font-size: 18px;
    color:rgba(59, 83, 114, 1);
}
.login form md-input-container input{
    border: none;
    border-bottom: 1px solid rgba(59, 83, 114, 1);
}

.login form md-input-container label{
    color:rgba(59, 83, 114, 1);
     padding-left:17px !important;
}
.login form #input2{
    height: 35px;
    padding-left:17px;
    padding-right:18px;
    font-size: 18px;
    color:rgba(59, 83, 114, 1);
}
.login form button{
    margin-left:93.5px;
    width:113px;
    height: 41px;
    font-size: 18px;

    border:1px solid rgba(59, 83, 114, 1);
}
.text-danger{
    color:rgba(236, 13, 13, 1);
    font-size: 12px;
}
.md-raised[disabled]{
    color:rgba(59, 83, 114, 1);
    background-color: rgba(247, 245, 241, 0.82);
}
.md-raised{
    color:rgba(255, 255, 255, 1);
    background-color: rgba(59, 83, 114, 1);
    /*background-color : black;*/
}
/*navbar content*/
.navbar-nav>li>.dropdown-menu {
  background-color: rgba(59, 83, 114, 1);
  width: 195px;
}
.dropdown-menu>li>a {
    display: block;
    /*padding: 1px 65px;*/
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: rgba(255,255,255,1);
    text-align: right;

}
.mail1 {
    width: 12px;
    height: 12px;
    text-align: left;
    color: #F7F5F1;
    line-height: 0px;
    font-size: 12px;
    letter-spacing: 0px;
    margin-left: 5%;
    font-weight: bold;
}
media(min-width:760px){
   .row{
       margin-top:50px;
   }
   .row ul li{
   margin-left:50px;
   display: table-cell;
}
}
@media(min-width:1200px){
   .row ul li{
   margin-left:140px;
   display: table-cell;
}
}
.brand {
  width: 128px;
height: 28px;
text-align: left;
color: #3B5372;
font-family: Ionicons;
font-size: 24px;
font-weight: bold;
}
.title {
color: #3B5372;
font-family: LucidaGrande-Bold;
/*font-size: 16px;*/
font-weight: bold;
}
a:hover {
  background-color: rgba(255,255,255,1);
}
