.mainpage {
  background-color: #D8D1C7;
  width: 100%;
  height: 100%;
}
body.login-page {
    background-color: #D8D1C7;
    background-size: initial;
}

body {
    background-color: white;
}

.login-box {
    padding-left: 50px;
}

.show {
    display: block!important;
    margin-left: 50px;
    color: red;
}

@media(min-width:768px) {
    .login-box {
        display: inline-block;
        width: 300px;
        height: 396px;
        margin-top: 5%;
        margin-left: 35%;
        font-family: AppleGothic;
    }
}

.login-box img {
    -webkit-filter: drop-shadow(4px 4px 4px grey);
    box-shadow: 10px;
    margin-left: 101px;
    margin-right: 101px;
}

.login {
    display: inline-block;
    width: 300px;
    height: 290px;
    background-color: rgba(247, 245, 241, 0.82);
    color: rgba(59, 83, 114, 1);
    border-radius: 7px;
    box-shadow: 0 0 10px grey;
    border: solid 1px #3B5372;
}

.login div {
    margin-top: 19px;
    text-align: center;
    font-size: 28px;
}

.login form #input1 {
    height: 50px;
    padding-left: 17px;
    padding-right: 18px;
    font-size: 18px;
    color: rgba(59, 83, 114, 1);
}

.login form md-input-container input:hover {
    background-color: none !important;
}

.login form md-input-container input {
    border: none;
    border-bottom: 1px solid rgba(59, 83, 114, 1);
}

.login form md-input-container label {
    color: rgba(59, 83, 114, 1);
    padding-left: 17px !important;
}

.login form #input2 {
    height: 35px;
    padding-left: 17px;
    padding-right: 18px;
    font-size: 18px;
    color: rgba(59, 83, 114, 1);
}

.login form button {
    margin-left: 93.5px;
    width: 113px;
    height: 41px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid rgba(59, 83, 114, 1);
}

.text-danger {
    color: rgba(236, 13, 13, 1);
    font-size: 12px;
}

.md-raised[disabled] {
    color: rgba(59, 83, 114, 1);
    background-color: rgba(247, 245, 241, 0.82);
}

.md-raised {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(59, 83, 114, 1);
}


/*navbar content*/

.navbar-nav>li>.dropdown-menu {
    background-color: rgba(59, 83, 114, 1);
    width: 195px;
}

#mainNav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.46);
}

.dropdown-menu>li>a {
    display: block;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: rgba(255, 255, 255, 1);
    text-align: right;
}

.mail1 {
    width: 12px;
    height: 12px;
    text-align: left;
    color: #F7F5F1;
    line-height: 0px;
    font-size: 12px;
    letter-spacing: 0px;
    margin-left: 5%;
    font-weight: bold;
}

#logout:hover {
    background-color: #3B5372;
    color: #D8D1C7;
    text-decoration: none;
}

media(min-width:760px) {
    .row {
        margin-top: 50px;
    }
    .row ul li {
        margin-left: 50px;
        display: table-cell;
    }
}

@media(min-width:1200px) {
    .row ul li {
        margin-left: 140px;
        display: table-cell;
    }
}

.brand {
    width: 128px;
    height: 28px;
    text-align: left;
    color: #3B5372;
    font-family: Ionicons;
    font-size: 24px;
    font-weight: bold;
}

.title {
    color: #3B5372;
    font-family: LucidaGrande-Bold;
    font-weight: bold;
}

a:hover {
    background-color: rgba(255, 255, 255, 1);
}

.title:hover {
    border-bottom: thick solid #3B5372;
    border-bottom-width: 20%;
}

.sidebar {
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(156, 205, 227, 0.99);
    max-height: 568px;
    max-height: 1024px;
    box-shadow: .5px 0.5px #7fb8e8;
    margin: 2%;
}

.sidebar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.sidebar {
    height: 222px;
    border-radius: 5px;
    opacity: 100;
    background-color: #FFFFFF;
    border: solid 2px #9CCDE3;
    box-shadow: 0 0 1px grey;
}
.col-xs-12 {
  width: 0%;
}

.text {
    width: 219px;
    height: 21px;
    opacity: 100;
    text-align: left;
    color: #3B5372;
    font-family: LucidaGrande-Bold;
    line-height: 0px;
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: bold;
    margin-left: 15px;
}

.text1 {
    width: 184px;
    height: 43px;
    opacity: 100;
    text-align: right;
    color: #6FB8D9;
    font-family: LucidaGrande-Bold;
    line-height: 0px;
    font-size: 36px;
    letter-spacing: 0px;
    font-weight: bold;
    margin: 100px 170px 100px 50px;
}

.action span.tooltiptext {
    visibility: hidden;
    width: 200px;
    height: 22px;
    background-color: #3B5372;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 9px 0;
    font-size: 17px;
    font-weight: normal;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 55%;
    margin-left: -60px;
}

.action:hover span.tooltiptext {
    visibility: visible;
}

.action1 span.tooltiptext {
    visibility: hidden;
    width: 120px;
    height: 22px;
    background-color: #3B5372;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 80%;
    margin-left: -60px;
}

.action1:hover span.tooltiptext {
    visibility: visible;
}

@media (min-width:412px) {
    .toc {
        float: right;
        display: inline-block;
        margin-right: -50%;
        margin-top: -9px;
    }
}

@media(min-width:768px) {
    .toc {
        float: right;
        margin-right: -200%;
        margin-top: -10px;
        width: 24px;
        height: 24px;
        color: #3B5372;
    }
}

@media(min-width:360) {
    .toc {
        float: right;
        margin-right: -30%;
        margin-top: -10px;
        width: 24px;
        height: 24px;
        color: #3B5372;
    }
}

@media(min-width:412px) {
    .toc {
        float: right;
        margin-right: -50%;
        margin-top: -10px;
        width: 24px;
        height: 24px;
        color: #3B5372;
    }
    ja
}

@media(min-width:320px) {
    .toc {
        float: right;
        margin-right: -15%;
    }
}

@media(min-width:375px) {
    .toc {
        margin-right: -45%;
    }
}

.toc1 {
    float: right;
    margin-right: 30px;
    margin-top: -220px;
}

.date1 {
    width: 187px;
    height: 21px;
    opacity: 100;
    text-align: left;
    color: #6FB8D9;
    font-family: LucidaGrande-Bold;
    line-height: 0px;
    font-size: 18px;
    letter-spacing: 0px;
}

.date2 {
    width: 132px;
    height: 18px;
    opacity: 100;
    text-align: left;
    color: #6FB8D9;
    font-family: Ionicons;
    line-height: 0px;
    font-size: 16px;
    letter-spacing: 0px;
}

.date3 {
    width: 159px;
    height: 18px;
    opacity: 100;
    text-align: left;
    color: #6FB8D9;
    font-family: LucidaGrande-Bold;
    font-size: 16px;
    letter-spacing: 0px;
    display: inline-block;
    padding-left: 20px;
}

.bottom-align-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    bottom: 35px;
    left: 140px;
}

.leave {
    width: 95px;
    height: 78px;
    opacity: 100;
    text-align: left;
    color: #f56666;
    font-family: AppleGothic;
    font-size: 64px;
    display: inline-block;
    padding-top: 80px;
    padding-left: 130px;
}

.status {
    width: 32px;
    height: 19px;
    opacity: 100;
    text-align: left;
    color: #6FB8D9;
    font-family: AppleGothic;
    font-size: 16px;
    display: inline-block;
    padding-top: 50px;
    padding-left: 140px;
}

.back {
    width: 30px;
    height: 30px;
    text-align: left;
    color: #3B5372;
    display: inline-block;
    margin-left: 4%;
    margin-top: -4%;
}

@media(min-width:768px) {
    .date {
        text-align: center;
        margin: auto 0;
        display: inline-block;
        margin-left: 35%;
        color: #3B5372;
        font-size: 30px;
    }
}

@media (max-width:767px) {
    .date {
        color: #3B5372;
        font-size: 30px;
        margin-left: 8%;
    }
}

div.container-fluid {
    padding-right: 15px;
    padding-left: 0;
    margin-left: 0;
    margin-left: 0;
}

img.mail {
    max-width: 100%;
    height: auto;
    width: 36px;
    float: right;
    margin-right: 15px;
}

strong.unmarked {
    max-width: 100%;
    height: auto;
    width: 85px;
    /*height: 22px;*/
    opacity: 100;
    text-align: left;
    color: #E35656;
    font-family: AppleGothic;
    line-height: 0px;
    font-size: 18px;
    letter-spacing: 0px;
    vertical-align: sub;
}

@media(max-width:360px) {
    .width {
        margin-right: 50px;
    }
}

span.rectangle {
    display: inline-block;
    width: 61px;
    line-height: 28px;
    border-radius: 33px;
    background-color: #E35656;
    margin-left: 44%;
    text-align: center;
    padding-bottom: 7px;
    color: #FFFFFF;
    font-size: 14px;
    padding-top: 4px;
}

.modal.in .modal-dialog {
    width: 418px;
    height: 177px;
    border-radius: 12px;
    opacity: 100;
    background-color: #FFFFFF;
    border: solid 2px #6FB8D9;
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 44.067028985507%);
    margin-top: 18%;
}

.modal-content {
    max-height: 0px;
}

@media(min-width:360px) {
    .modal.in .modal-dialog {
        width: 350px;
    }
}

#btn {
    width: 100px;
    height: 41px;
    border: solid 1px #6FB8D9;
    border-radius: 3px;
    margin-bottom: -45%;
    margin-left: 105px;
    color: rgba(111, 184, 217, 1);
    font-size: 20px;
}

#btn1 {
    width: 100px;
    height: 41px;
    border-radius: 3px;
    opacity: 100;
    background-color: #6FB8D9;
    border: solid 1px #6FB8D9;
    border-radius: 3px;
    margin-bottom: -45%;
    font-size: 20px;
    color: white;
}

.data {
    color: rgba(111, 184, 217, 1);
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
    font-family: LucidaGrande;
}

.data1 {
    width: 321px;
    height: 23px;
    opacity: 100;
    text-align: center;
    color: #6FB8D9;
    font-family: LucidaGrande;
    font-size: 20px;
    margin-top: 8%;
    margin-left: 7%;
}

#btn2 {
    width: 100px;
    height: 41px;
    border-radius: 4px;
    opacity: 100;
    border: solid 1.5px #6FB8D9;
    margin-top: 20%;
    font-size: 20px;
    color: rgba(111, 184, 217, 1);
    margin-left: 38%;
}


/*leave summary dashboard directive cards*/

body {
    background: White;
}

#main {
    cursor: default;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 2%;
}

#main:hover {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 50%);
}

#main h1 {
    font-size: 24px;
    padding-left: 10px;
}

#main .sCart {
    float: right;
    padding-right: 25px;
}

.sCart .quantity {
    font-size: 32px;
    vertical-align: 8px;
}

#items {
    clear: both;
}

#main .item {
    box-shadow: .5px .5px .5px .5px grey;
    display: inline-block;
    width: 310px;
    margin: 2%;
    background-color: rgba(240, 237, 234, 1);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 50%);
    border-radius: 5px;
}

.item-int h3 {
    display: inline-block;
    width: 200px;
    height: 18px;
    opacity: 100;
    color: #3B5372;
    font-family: LucidaGrande-Bold;
    line-height: 0px;
    font-size: 17px;
    letter-spacing: 0px;
    font-weight: bold;
    margin-left: 40%;
    margin-bottom: -3%;
    padding-left: 8px;
}

.item-int img {
    width: 110px;
    float: left;
    margin: 2%;
    margin-top: -30px;
    border-radius: 5px;
}

.item-int .data {
    margin: 5px 0;
    text-align: center;
}

.data span {
    width: 100px;
    height: 17px;
    font-family: AppleGothic;
    text-align: left;
    color: #3B5372;
    line-height: 10px;
    font-size: 14px;
    letter-spacing: 0px;
}

.right {
    float: right;
}

.left {
    float: left;
    margin-left: 3%;
}

.note {
    color: #444444;
    font-size: 13px;
    text-align: right;
}

@media (min-width: 1200px) .col-lg-4 {
    width: 28%;
}

#main .item:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
