<div class="container-fluid">

            <div class="row cards">
                <div class="col-lg-4  col-md-6 col-xs-12">
                    <div class="sidebar">
                    <div class="header">
                      <h3 class="text">Attendance summary<span><img class="toc" src="images/ic_toc.png"/></img></span></h3>
                      <div class="bottom-align-text">
                        <span class="date1">{{ today | date : "dd,MMMM y" }}</span>
                      </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-xs-12">
                    <div class="sidebar">
                      <div class="header">
                        <h3 class="text">Attendance Fallout<span><img class="toc" src="images/ic_toc.png"/></img></span></h3>
                        <div class="bottom-align-text">
                        <span class="date2">{{ today | date : "MMMM y" }}</span>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="col-lg-4  col-md-6 col-xs-12">
                    <div class="sidebar">
                      <div class="header">
                        <h3 class="text">Leave summary<span><a class="card-action" ui-sref="home.Attendence"><img class="toc" src="images/ic_toc.png"/></img></a></span></h3>
                        <div class="bottom-align-text">
                        <span class="date3">{{ today | date : "MMMM y" }}</span>
                      </div>

                      </div>
                    </div>
                </div>

           <!-- </div> -->
            <!-- <div class="row"> -->
                <div class="col-lg-4  col-md-6 col-xs-12">
                    <div class="sidebar">
                      <div class="header">
                        <h3 class="text1">Engineers</h3><span><img class="toc1" src="images/ic_toc.png"/></img></span>
                      </div>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-xs-12">
                    <div class="sidebar">
                      <div class="header">
                        <h3 class="text1">Clients</h3><span><img class="toc1" src="images/ic_toc.png"/></img></span>
                      </div>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-xs-12">
                    <div class="sidebar">
                   <div class="header">
                        <h3 class="text1">Reports</h3><span><img class="toc1" src="images/ic_toc.png"/></img></span>
                      </div>
                    </div>
                </div>
            </div>

      </div>
