      <div class="container-fluid">

      <!-- <nav class="navbar navbar-default"> -->
        <a href="#">
          <span><img class="back" src="images/previous.png"/></img></span>
        </a>
         <span class="date">{{ today | date : "MMMM y" }}</span>

         <a href="#id">
           <span><img class="mail" src="images/email.png"/></img></span>
        </a>
        <div><span class="rectangle">10/100</span>&nbsp&nbsp<span class="unmarked">Unmarked</span></div>
      <!-- <div class="container-fluid"> -->
        <itemCard></itemCard>
      <div id="main" class="row cards">
            <div class="col-lg-4 col-md-6 col-xs-12" ng-repeat="i in items">
                <div item-card item="i"></div>
            </div>
      </div>
          <hr/>
        </div>
