<nav id="mainNav" class="navbar navbar-default navbar-static-top" style="background-color:#D8D1C7 ">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
      </button>
            <div class="nav-brand">
                <img src="images/logo.png" width="43px" height="47px" class="logo">
                <span class="brand">FundooHR </span>
                </img>
            </div>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="date1"><a href="#"><span class="glyphicon glyphicon-time"></span>{{ today | date : "dd,MMMM y" }}
       </a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-user"></span>{{name}}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="mail1">shilpareddy.2793@gmail.com</li>
                        <li ng-if="isAuth()">
                            <a ui-sref="logout" id="logout"><img src="images/logout.png" width="12px" height="14px" />logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="row">
                <ul class="nav navbar-nav ">
                    <li class="title"><a ui-sref="home.DashBoard">DashBoards</a></li>
                    <li class="title"><a ui-sref="Engineers">Engineers</a></li>
                    <li class="title"><a ui-sref="home.Attendence">Attendence</a></li>
                    <li class="title"><a ui-sref="Clients">Clients</a></li>
                    <li class="title"><a ui-sref="Reports">Reports</a></li>
                </ul>

            </div>
        </div>
    </div>
</nav>
<ui-view></ui-view>
